* {
    margin: 0;
    padding: 0;
    font-size: 16px;   
}


@media screen and (min-width: 1024px) {

    a {
        text-decoration: none !important;
        color: white !important;
        font-size: 3rem;
    }

.nom {
    animation: typing 3s steps(30, end), blink .75s step-end infinite;
    font-size: 70px;
    font-weight: 700;
    border-right: 4px solid white;
    box-sizing: border-box;
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
    color: white;
    white-space: nowrap;
}
li {
    color: white;
}

.mnom {
    display: none;
}
.navcontainer {
    height: 25vh;
    width: 100%;
    background-image: url(/assets/lines-of-code.width-808.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
}
.buttondown {
    background-color: rgb(97, 97, 175);
    width: 15%;
    margin-left: 42.5vw;
    height: 15vh;
    border-radius: 10px;
    border: none;
    font-size: 3rem;
    color: white;
    position: absolute;
    bottom: 68%;
    
}
.sec1 {
    width: 50%;
    height: 75vh;
    border: 3px solid rgb(97,97,175);
    left:25%;
    position: relative;
    background-image: url(/assets/wordle.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y:bottom;
    display: inline-block;
    animation-name: apparition;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}
.logo {
    height:20vh;
    width: 10vw;
    transition: all 0.5S;
}
.logo:hover {
    scale: 1.1;   
}
.social {
    height: 75vh;
    width: 10vw;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 8%;
    animation-name: apparition;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}


.projetitre {
    font-size: 3rem;
    text-align: center;
}

.photo {
    width: 100%;
    height: 100%;
   /* position: absolute;*/
    right: 0;
    background-image: url(/assets/photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    background-position-x: 50%;
    opacity: 1;
    animation-name: apparition;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition: all 1s;
    filter: grayscale(1);
    }
.parent {
    width: 25%;
    height: 75vh;
    position: absolute;
    right: 0;
    top: 25%;
    overflow: hidden;
}
.parent:hover .photo {
    filter: grayscale(0);
    transform: scale(1.2);
    
}
@keyframes apparition {
    0% {opacity: 0;}
    100% {opacity: 1}
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 70% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: white; 
    }
}
footer {
    height:25vh;
    width: 100%;
}
.footertext {
    font-size: 3rem;
    text-align: center;
}
.experience {
    background-color: rgb(97,97,175);
    width: 100%;
    height:50vh;
}
.exp {
    text-align: center;
}

}

@media screen and (min-width:401px) and (max-width: 1024px) {
    .buttondown {
        background-color: rgb(97, 97, 175);
        width: 30%;
        margin-left: 35vw;
        height: 15vh;
        border-radius: 10px;
        border: none;
        font-size: 2rem;
        color: white;
        position: absolute;
        bottom: 68%;
        
    }
    .logo {
        height:20vh;
        width:50vw;
        transition: all 0.5S;
    }
    .logo:hover {
        scale: 1.1;   
    }
    .social {
        height: 75vh;
        width: 50vw;
        position: relative;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;  
    }
    .navcontainer {
        height: 25vh;
        width: 100%;
        background-image: url(/assets/lines-of-code.width-808.jpg);
        background-repeat: no-repeat;
        background-size: cover;   
    }
    .mnom {
        animation: typing 3s steps(30, end), blink .75s step-end infinite;
        font-size: 30px;
        font-weight: 700;
        border-right: 4px solid white;
        box-sizing: border-box;
        display: inline-block;
        overflow: hidden;
        letter-spacing: 2px;
        color: white;
        /*white-space: nowrap;*/
    }
    @keyframes typing {
        from { 
            width: 0% 
        }
        to { 
            width: 70% 
        }
    }
    
    @keyframes blink {
        from, to { 
            border-color: transparent 
        }
        50% { 
            border-color: white; 
        }
    }
    .sec1 {
        width: 50%;
        height: 75vh;
        left: 50%;
        border: 3px solid rgb(97,97,175);
        position: relative;
        background-image: url(/assets/wordle.png);
        background-repeat: repeat;
        background-size: contain;
        background-position-y:bottom;
        display: inline-block;
        z-index: -1;

    }
    .nom {
        display: none;
    }
    
    .logo:hover {
     scale: 1.1;   
    }
    .logo {
        height:20vh;
        width: 50vw;
        transition: all 0.5S;
    }
    .projetitre {
    font-size: 3rem;
    text-align: center;
    }
    footer {
        height:25vh;
        width: 100%;
        position: absolute;
        top: 189%;
    }
    .footertext {
        font-size: 3rem;
        text-align: center;
    }
    }

@media screen and (max-width: 400px) {
    .buttondown {
        background-color: rgb(97, 97, 175);
        width: 50%;
        margin-left: 25vw;
        height: 15vh;
        border-radius: 10px;
        border: none;
        font-size: 2rem;
        color: white;
        position: absolute;
        bottom: 68%;
        z-index: 1; 
        
    }
    .navcontainer {
        height: 25vh;
        width: 100%;
        background-image: url(/assets/lines-of-code.width-808.jpg);
        background-repeat: no-repeat;
        background-size: cover;   
    }
    .mnom {
        animation: typing 3s steps(30, end), blink .75s step-end infinite;
        font-size: 30px;
        font-weight: 700;
        border-right: 4px solid white;
        box-sizing: border-box;
        display: inline-block;
        overflow: hidden;
        letter-spacing: 2px;
        color: white;
        /*white-space: nowrap;*/
    }
    
    .nom {
        display: none;
    }
    @keyframes typing {
        from { 
            width: 0% 
        }
        to { 
            width: 70% 
        }
    }
    
    @keyframes blink {
        from, to { 
            border-color: transparent 
        }
        50% { 
            border-color: white; 
        }
    }
    .sec1 {
        width: 100%;
        height: 30vh;
        border: 3px solid rgb(97,97,175);
        position: relative;
        background-image: url(/assets/wordle.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y:bottom;
        display: block;
    }
    .social {
        height: 100vh;
        width: 75vw;
        position: absolute;
        top:146%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        
        
    }
    .logo {
        height:20vh;
        width: 10vw;
        transition: all 0.5S;
    }
    .logo:hover {
        scale: 1.1;   
    }
    .logo {
        height:40vh;
        width: 100vw;
        transition: all 0.5S;
    }

    .projetitre {
    font-size: 3rem;
    text-align: center;
    }
    footer {
        height:25vh;
        width: 100%;
        position: absolute;
        top: 265%;
    }
    .footertext {
        font-size: 3rem;
        text-align: center;
    }
}
